* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Monda";
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 816px;
  margin: 0 auto;
  position: relative;
}

.right::before {
  content: "";
  display: flex;
  width: 525.73px;
  height: 252px;
  border-radius: 60%;
  background-color: #acd4e1;
  position: absolute;
  top: -147px;
}

.right::after {
  content: "";
  width: 513.64px;
  height: 292px;
  border-radius: 60%;
  background-color: #acd4e1;
  position: absolute;
  left: 300px;
  top: -115px;
}

.left::after {
  content: "";
  width: 475.88px;
  height: 292px;
  left: 320px;
  top: -63px;
  border-radius: 60%;
  background-color: #c8e3ec;
  position: absolute;
}

.left::before {
  content: "";
  width: 487.07px;
  height: 252px;
  top: -95px;
  border-radius: 60%;
  background-color: #c8e3ec;
  position: absolute;
}

.header__text {
  width: 335px;
  height: 78px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 78px;
  letter-spacing: 0.25em;
  margin: 43px auto;
  color: #000000;
  position: relative;
}

form {
  position: relative;
}

.form__title {
  width: 816px;
  height: 49px;
  background: #a8d2a5;
  padding-left: 27px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.form__desc {
  margin-top: 26px;
  width: 816px;
  height: 49px;
  background: #a8d2a5;
  padding-left: 27px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.button {
  display: block;
  margin: auto;
  margin-top: 21px;
}

.form__submit {
  width: 290px;
  height: 61px;
  background: linear-gradient(90deg, #a8d2a5 0%, #acd4e1 115.2%);
  box-shadow: 0px 4px 4px #acd4e1;
  border-radius: 25px;
  font-family: "Monda";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #3e3b3b;
}

.active {
  font-size: 50px;
}

.list {
  margin-top: 29px;
}

.list__task-title {
  position: relative;
  width: 816px;
  height: 41px;
  padding-left: 33px;
  font-family: "Monda";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #3e3b3b;
  line-height: 37px;
  border-bottom: 2px solid #3e3b3b;
}

.bi-check2-circle {
  position: absolute;
  margin-top: 1%;
  z-index: 1;
  color: #154c6b;
}

.bi-pencil-square {
  position: absolute;
  z-index: 1;
  margin-left: 89%;
  margin-top: 1%;
  color: #156b2d;
}

.bin {
  position: absolute;
  z-index: 1;
  margin-top: 1%;
  left: 95%;
  color: #bc0808;
}

.list__task-description {
  font-family: "Monda";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #3e3b3b;
  margin-top: 5px;
  margin-bottom: 28px;
}

.done {
  color: #c4c4c4;
  text-decoration-line: line-through;
  opacity: 0.5;
}

.inProgress {
  font-family: "Monda";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #3e3b3b;
  text-decoration-line: none;
}

.inProgress-desc {
  font-family: "Monda";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-decoration-line: none;
  color: #3e3b3b;
}

.bi-circle {
  position: absolute;
  margin-top: 1%;
}

.pencil {
  position: absolute;
  z-index: 5;
  top: 69.9%;
  left: 89%;
  color: #156b2d;
}

footer {
  position: fixed;
  bottom: 0;
  background: #acd4e1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 816px;
  height: 71px;
  z-index: 10;
}
footer .bi {
  padding-right: 60px;
}

.selector-container {
  position: relative;
  padding-top: 25px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.sort-selector {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 40px;
  padding-left: 10px;
  width: 300px;
  font-family: "Monda";
  font-size: 16px;
  box-shadow: 0px 5px 16px rgba(146, 140, 151, 0.25);
  border-radius: 10px;
}

.bi-arrow-bar-down {
  position: absolute;
  left: 64%;
  top: 51%;
}

.option {
  box-shadow: 0px 5px 16px rgba(146, 140, 151, 0.25);
  border-radius: 10px;
}

.hide {
  display: none;
  visibility: hidden;
}

.main {
  position: relative;
}

.delete_container {
  position: fixed;
  top: 30%;
  left: 33%;
  background-color: #af7a7a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 450px;
  max-width: 470px;
  text-align: center;
  flex-direction: column;
  border-radius: 20px;
  z-index: 4;
}

.title-warning {
  color: #3e3b3b;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
}

.btn-approval {
  padding-top: 55px;
  gap: 3em;
  display: flex;
}

.agree {
  width: 119px;
  height: 61px;
  left: 221px;
  top: 594px;
  background: linear-gradient(90deg, #a8d2a5 0%, #acd4e1 115.2%);
  box-shadow: 0px 4px 4px #acd4e1;
  border-radius: 25px;
  font-family: "Monda";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #3e3b3b;
}

.disagree {
  width: 119px;
  height: 61px;
  left: 221px;
  top: 594px;
  background: linear-gradient(90deg, #a8d2a5 0%, #acd4e1 115.2%);
  box-shadow: 0px 4px 4px #acd4e1;
  border-radius: 25px;
  font-family: "Monda";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #3e3b3b;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(134, 168, 179, 0.65);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.blur2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(134, 168, 179, 0.65);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.info-text {
  z-index: 7;
}

.info-text__container {
  position: fixed;
  top: 11%;
  left: 21.7%;
  background-color: rgba(134, 168, 179, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74vh;
  width: 120vh;
  flex-direction: column;
  border-radius: 20px;
  font-size: 22px;
  line-height: 1.5;
}

.title-representation {
  margin-top: 15px;
}

.text-representation {
  font-size: 18px;
  margin-left: 35px;
  margin-right: 25px;
  margin-top: 20px;
}/*# sourceMappingURL=style.css.map */